<div class="container">
<br>
<% if signed_in? && current_user.admin? %>
  <%= link_to 'Edit', edit_product_path(@product), class: "option-link" %> |
<% end %>
<%= link_to 'Back', products_path, class: "option-link" %>

<div class="container-fluid product-box">
  <div class="col-md-6 col-xs-12 product-img-box">
    <%= image_tag(@product.image_url, class: "img-responsive product-img img-zoom", data_zoom_image: @product.image_url ) %>
  </div>
  <div class="col-md-6 col-xs-12 product-info">
    <% cache @product do %>
    <h2 class="product-name"><%= @product.name %></h2>
    <% end %>
    <br>
    <p>Average Rating: <div class = "rated" id = "average-rating" data-score="<%= @product.average_rating %>"></div></p>
    <p>This product has been viewed <%= $redis.get(@product_key) %> times</p>
    <br>
    <h3><span class="prod-label">Price: </span>$ <%= number_with_precision(@product.price, precision: 2) %></h3>
    <br>
    <p><span class="prod-label">Color: </span><%= @product.colour %></p>
    <br>
    <% if signed_in? %>
      <%= form_tag "/payments/create" do %>
        <%= hidden_field_tag(:product_id, @product.id) %>
        <%= render partial: "shared/stripe_checkout_button" %>
      <% end %>
    <% else %>
      <p>You must login to purchase</p>
    <% end %>
  </div>
</div>

<div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>

<div id="tabbed-content"></div>
<div class="container-fluid col-md-12">
  <ul class="nav nav-tabs nav-justified">
    <li class="<%= 'active' if params[:tab] == 'desc' %>"><a data-toggle="tab" href="#desc">Description</a></li>
    <li class="<%= 'active' if params[:tab] == 'comment' %>"><a data-toggle="tab" href="#comment">Ratings and Comments</a></li>
  </ul>
  
  <div class="tab-content">
    <div id="desc" class="<%= if (params[:tab] == 'desc' || !params[:tab])then 'tab-pane fade in active'  else 'tab-pane fade' end%>">
      <h3><strong>Description</strong></h3>
      <p><%= @product.description %></p>
    </div>
    
    <div id="comment" class="<%= if params[:tab] == 'comment' then 'tab-pane fade in active'  else 'tab-pane fade' end%>">
      <h3><strong>Comments & Ratings</strong></h3>
      <div id="comment-list">
        <%= render 'new_comment' %>
        <%= render 'comments' %>
      </div>
      
      <%= will_paginate @comments, params: {tab: 'comment', anchor: 'tabbed-content'} %>
    </div>
    
  </div>
  
</div>

<br>
<% if signed_in? && current_user.admin? %>
  <%= link_to 'Edit', edit_product_path(@product), class: "option-link" %> |
<% end %>
<%= link_to 'Back', products_path, class: "option-link" %>
</div>