<div class="container">
<br>
<%= link_to 'Edit', edit_product_path(@product), class: "option-link" %> |
<%= link_to 'Back', products_path, class: "option-link" %>

<div class="container-fluid product-box">
  <div class="col-md-6 col-xs-12 product-img-box">
    <%= image_tag(@product.image_url, class: "img-responsive product-img" ) %>
  </div>
  <div class="col-md-6 col-xs-12 product-info">
    <h2 class="product-name"><%= @product.name %></h2>
    <br>
    <h3><span class="prod-label">Price: </span>$ <%= number_with_precision(@product.price, precision: 2) %></h3>
    <br>
    <p><span class="prod-label">Color: </span><%= @product.colour %></p>
  </div>
</div>

<div class="container-fluid col-md-12">
  <ul class="nav nav-tabs nav-justified">
    <li class="active"><a data-toggle="tab" href="#desc">Description</a></li>
    <li><a data-toggle="tab" href="#comment">Ratings and Comments</a></li>
  </ul>
  
  <div class="tab-content">
    <div id="desc" class="tab-pane fade in active">
      <h3><strong>Description</strong></h3>
      <p><%= @product.description %></p>
    </div>
    
    <div id="comment" class="tab-pane fade">
      <h3>Placeholder: content to be added later.</h3>
    </div>
    
  </div>
  
</div>

<br>

<%= link_to 'Edit', edit_product_path(@product), class: "option-link" %> |
<%= link_to 'Back', products_path, class: "option-link" %>
</div>