<!DOCTYPE html>
<html>
<head>
  <title>Genetisoric</title>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Josefin+Sans">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Audiowide">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Orbitron">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Exo">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>

<body>
  
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button><!-- end button -->
      <div class="navbar-brand brandName">
        <%= link_to 'Genetistoric ~', root_path %>
      </div><!-- end projectName -->
    </div><!-- end navbar-header -->
    
    <div class="navbar-collapse collapse" id="top-bar">
      <ul class="nav navbar-nav navbar-center">
        <li>
          <%= form_tag("/products", method: "get", class: "navbar-form", role:"search") do %>
          <div class="input-group">
            <%= text_field_tag(:q, nil, class: "form-control", placeholder: "Product Name") %>
            <span class="input-group-btn">
              <%= submit_tag("Search", class: "btn btn-default") %>
            </span>
          </div>
          <% end %>
        </li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right" id="login-bar">
        <% if user_signed_in? %>
          <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to('View', user_path(current_user)) %></li>
              <li><%= link_to('Your Orders', orders_path) %></li>
              <li><%= link_to('Edit Credentials', edit_user_registration_path(current_user)) %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to('Sign Up', new_user_registration_path) %></li>
          <li><%= link_to('Login', new_user_session_path) %></li>
        <% end %>
        </ul>
      
    </div><!-- end navbar-collapse -->
    
    <div class="navbar-collapse collapse" id="bottom-bar">
       <ul class="nav navbar-nav">
        <li>
          <% if current_page?(root_path) %>
            <%= link_to 'Home', root_path, :class => "navActive" %>
          <% else %>
            <%= link_to 'Home', root_path %>
          <% end %>
        </li>
        <li>
          <% if current_page?(products_path) %>
            <%= link_to 'All Products', products_path, :class => "navActive" %>
          <% else %>
            <%= link_to 'All Products', products_path %>
          <% end %>
        </li>
        <li>
          <% if current_page?(static_pages_about_path) %>
            <%= link_to 'About', static_pages_about_path, :class => "navActive" %>
          <% else %>
            <%= link_to 'About', static_pages_about_path %>
          <% end %>
        </li>
        <li>
          <% if current_page?(static_pages_contact_path) %>
            <%= link_to 'Contact', static_pages_contact_path, :class => "navActive" %>
          <% else %>
            <%= link_to 'Contact', static_pages_contact_path %>
          <% end %>
        </li>
      </ul>
    </div><!-- end navbar-collapse -->
</nav><!-- end navbar -->

<div class="divAlert">
<% if notice %>
  <p id="notice" class="alert alert-info"><%= notice %></p>
<% end %>
<% if alert %>
  <p id="alert" class="alert alert-info"><%= alert %></p>
<% end %>
</div>



<%= yield %>



<footer class="footer navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-left text-muted" id="footer-text">&copy; 2017 Janelle Hilliard</p>
  </div>
</footer>

</body>
</html>
